<p style="color: green"><%= notice %></p>
<%= link_to destroy_user_session_path, method: :delete, class: "icons" do %>
  Logout
<% end %>
<h1>Search Articles</h1>
<%= form_with(url: user_analytics_path(current_user.id), method: :get, data: { 
  controller: "search-form", turbo_frame: "analytics", turbo_action: "advance"}) do |form| %>
    <%= form.text_field :query, data: { action: "input->search-form#search"} %>
    <%= form.submit %>
<% end %>
<h3>Trends and last searches</h3>
  <div>
    <%= render "analytics", analytics: @analytics%>
  </div> 

