<p style="color: green"><%= notice %></p>

<h1>Search Articles</h1>
<%= form_with(url: articles_path, method: :get, data: { 
  controller: "search-form", turbo_frame: "articles", turbo_action: "advance"}) do |form| %>
    <%= form.text_field :query, data: { action: "input->search-form#search"} %>
    <%= form.submit %>
<% end %>
<h3>Trends in your searches</h3>
<div>

</div>
<h3>Articles</h3>
<div>
  <%= render "articles", articles: @articles%>
</div>



<%= link_to "New article", new_article_path %>
